<div class='container-md bg-light rounded-3 d-flex flex-column p-4'>
  <div style='height: 660px' class='d-flex flex-wrap p-4 gap-3 overflow-scroll'>
    <% @locations.each do |location| %>
      <%= link_to 'weathers/manila', class: 'block text-decoration-none text-reset' do %>
        <div style='width: 190px; height: 300px; cursor: pointer;' 
             class='d-flex flex-column gap-3 justify-content-center
                    align-items-center bg-primary-subtle p-3 rounded-3
                    bg-primary-hover
                    '>

          <h2><%= location.name.capitalize %></h2>
          <h2 class='display-5'>69&deg;F</h2>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
